:root {
    --primary-color: #203980;
    --grey-color: #E4E8F5;
    --white-color: #FFFFFF;
    --orange-color: #e8630a;
    --gap: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 2rem;
    color: var(--orange-color);
    line-height: 1.5;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 8rem;
    margin-bottom: 2rem;
    color: var(--orange-color);
    
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 4rem;
    margin-bottom: 5rem;
    line-height: 1.2;
}

h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    /* text-align: left; */
}

a {
    text-decoration: none;
}

p {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 0rem;
    text-align: justify;
}

.section {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10 var(--gap);
}

.section h2 {
    
    max-width: 80rem;
}

.view-port {
    min-height: 100vh
}

.white-bar {
    background-color: var(--white-color);
}

.menu-section {
    background-color:var(--white-color);
    width: 100%;
    border-bottom: 0.15rem solid var(--grey-color);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo a img {
   margin: 2rem;
}

.menu-nav ul li {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5rem;
    display: inline;
    padding: 0 var(--gap);
}

.menu-nav ul li a {
    color: var(--orange-color);
}

.intro-content {
    display: grid;
    position: relative;
    grid-template-columns: 1.3fr 1.2fr;
    padding: 3rem var(--gap);
    min-height: 100vh;
}

.image-bg {
    background-image: url(/assets/img/intro-bg-image.svg);
    background-size: cover;
    background-position: center center;
}

.intro-text-content, .intro-image-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: var(--gap);
}

.intro-text-content h2 {
    font-family: 'Dancing Script', cursive;
}

.intro-image-content img {
    max-width: 40rem;
    max-height: 40rem;
}

/*
.button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--primary-color);
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out; 
}


.button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}
*/

.know-more-section {
    display: flex;
    justify-content: center;
}

.contact {
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
}

.contact-links {
    display: flex;
}

.image {
    display: flex;
    width: 5rem;
    height: 5rem;
    margin: 3rem 2rem;
}

.know-more {
    max-width: 70rem;
    padding: 6rem;
    text-align: center;
    justify-content: center;
}

.know-more h2 {
    font-size: 2rem;
    line-height: 1.5;
}

.know-more img {
    max-width: 65%;
    margin-bottom: 3rem;
}

.know-more iframe {
    margin: var(--gap);
}

.footer {
    display: flex;
    justify-content: center;
    height: 8rem;
    margin-bottom: 0;
}

.footer p {
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem;
    margin-bottom: 0;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.products-banner {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.products-banner img {
    width: 120rem;
    max-height: 50rem;
}

.produts-header, h1, h2 {
    text-align: center;
    margin-top: 3rem;
}

.gallery-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;  
    /* 
    border: 0.1rem solid var(--grey-color);
    border-collapse: collapse;
    border-radius: 3rem;
    padding: 1rem 2rem;
    */
}

.gallery-img img {
    max-width: 100%;
    width: 280px;   
    height: 300px;
    
}

.gallery-img img {
    border-radius: 2rem;
}

.gallery-img p {
    text-align: center;
}

/*
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 3rem;
    padding: 2rem;
    margin-bottom: 3rem;

}

.pagination li {
    border: 0.1rem solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    height: 3rem;
    width: 3rem;
    text-align: center;
}

.pagination-section h3 {
    text-align: center;
    
}
*/

.intro-product-texto {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .logo a img {
        max-width: 20rem;
     }

     h1 {
         font-size: 4.8rem;
         margin-top: 1rem;
     }

     p {
         font-size: 1.5rem;
     }

     .know-more {
         padding: 2rem;
     }

     .know-more h2 {
         text-align: justify;
     }

     .know-more img {
        max-width: 28rem;
        max-height: 28rem;

     }

     .intro-image-content img {
        max-width: 28rem;
        max-height: 28rem;
    }

    .menu {
        display: none;
    }

    .intro-content, .grid {
    grid-template-columns: 1fr;
    }

    .contact {
        grid-column: span 1;
    }
}